* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header, footer {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}
.my_posts {
    background-color: rgb(101, 200, 200);
    text-align: center;
    padding: 20px;
    border-radius: 10;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    background-color: rgb(101, 200, 200);
    text-align: center;
}
.left, .center, .right {
    padding: 10px;
    border: 1px solid rgb(61, 118, 118);
    
}
.create_button {
    top: 110px;
    right: 400px;
    padding: 4px 8px;
    position: absolute;
    background-color: rgb(255, 255, 255); 
}
.edit_button, .remove_button {
    margin: 10px;
    padding: 4px 8px;
    background-color: rgb(101, 200, 200);
    color: rgb(60, 116, 116);
}
.edit_button:hover, .remove_button:hover{
    background-color: rgb(60, 116, 116);
    color: black;
}
.header_buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}
a.button {
    display: inline-block; 
    padding: 10px 15px;
    background-color: rgb(101, 200, 200); 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px; 
    text-align: center;
    margin: 5px; 
    border: none; 
    cursor: pointer; 
}

a.button:hover {
    background-color: rgb(60, 116, 116); 
}
